*{
margin:0px;
padding:0px;
box-sizing:border-box;

}
body{
background-image:url('w2.jpg');
}
#header{
width:100%;
background-color:gray;
border-radius:0px 0px 8px 8px;
}
#logo{
font-size:30px;
width:100%;
height:70px;
text-align:center;
line-height:80px;
}
#sub-header{
width:100%;
height:80px;
line-height:80px;
}

input{
background-color:rgb(12,24,84);
padding:7px;
padding-right:0px;
font-size:20px;
width:38%;
height:40px;
border-radius:12px;
box-shadow:10px 15px 10px black;
margin:10px;
margin-left:20px;
color:white;
}
input:focus{
border:2px solid white;

}
#bolly{
background-color:lightgreen;
margin:10px;
float:right;
padding:7px;
padding-right:0px;
font-size:20px;
width:18%;
height:40px;
border-radius:7px;
box-shadow:10px 5px 10px black;
}
#anime{
background-color:crimson;
margin:10px;
float:right;
padding:7px;
padding-right:0px;
font-size:20px;
width:18%;
height:40px;
border-radius:7px;
box-shadow:10px 5px 10px black;
}
#div-header-menu{
border-top:1px solid BLACK;
width:100%;
height:50px;
font-size:25px;
line-height:50px;
padding-left:20px;

}
#ad{
width:96%;
height:60px;
background-color:lightblue;
line-height:70px;
margin:2%;

}
#ad2{
width:96%;
height:60px;
background-color:lightblue;
line-height:70px;
margin:2%;
margin:1%;
}
#section{
width:98%;
height:88px;

line-height:88px;
box-sizing:border-box;
margin:1%;
}
.sub-section{
background-color:crimson;
margin:8px;
margin-bottom:5px;
float:left;
padding:5px;
padding-right:5px;

font-size:16px;
height:24px;
border-radius:7px;
box-shadow:10px 5px 10px black;
padding-bottom:17px;
}
#info{
line-height:40px;

width:95%;
height:40px;
background-color:green;
line-height:40px;
margin:2%;
margin-top:1%;
font-style:bold;
text-align:center;
border-radius:10px;
}
#main-div{
width:100%;
overflow:auto;
}
.movies{
width:212px;
height:80%;
background-color:black;
margin-left:1%;
float:left;
border:2px solid black;
border-radius:15px;
margin-bottom:1%;
}
.movies-pic{
background-image:url('pic.png');
width:100%;
height:50%;
background-color:yellow;
border-radius:15px;
}

.movies-title{
color:white;
width:100%;
height:50%;
background-color:black;
border-radius:0px 0px 15px 15px;
text-align:center;
font-size:20px;
}
h3{
padding-top:5px;
}
#page{
width:95%;
height:60px;
background-color:green;
margin:2%;
margin-top:1%;
font-style:bold;
border-radius:10px;
padding:5px;
overflow:hidden;
}
#pg-no{
float:left;
line-height:40px;
color:white;
width:40px;
height:40px;
border-radius:14%;
margin:5px;
background-color:black;
text-align:center;

}
#footer{
background-color:black;
color:white;
width:100%;
height:60px;
line-height:60px;
text-align:center;
}
#MAIN-DIV{
WIDTH:98%;
MARGIN:AUTO;


}
